asgiref==3.11.1
Django==6.0.5
django-guardian==3.3.1
dotenv==0.9.9
pillow==12.2.0
psycopg2==2.9.12
python-dotenv==1.2.2
sqlparse==0.5.5
typing_extensions==4.15.0
argon2-cffi==23.1.0
django-csp==3.8
django-axes==7.0.0
django-ratelimit==4.1.0
django-storages[s3]==1.14.4
boto3==1.34.0
gunicorn==21.2.0
